.alert-dark {
    color: #1b1e21;
    background-color: #cbcdce;
    border-color: #c6c8ca;
    text-align: center;
}
 #cancel{
  margin-left: 10px;
 }
 .akshay{
     height: 100vh;
 }
.abc{
    flex-direction: column;

}
.card-body{
 background-color: #eaeaea;
}
.form-control{
    width: 70%;
}
